@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* ServicesList.module.css */
.servicesList {
  list-style: none;
  padding: 0;
}

.serviceCard {
  background-color: rgba(206, 88, 9, 0.562);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  max-width: 400px;
}

.serviceLabel {
  display: flex;
  width: 100%;
}

.serviceInfo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1em;
  padding-left: 1em;
}

.serviceName {
  font-size: 18px;
  margin: 0;
}

.servicePrice {
  font-size: 16px;
  margin: 0;
}

.serviceImage {
  flex-shrink: 0;
  width: 100px;
  height: 70px;
  margin-left: 10px;
  position: relative;
}

/* Estilos para hacer la imagen blanco y negro */
.serviceImage img {
  filter: grayscale(70%);
  border: 3px solid #ddd;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3em;
}
.serviceLabel input:checked + .serviceInfo {
  text-decoration: line-through;
}
