@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* ServicesList.module.css */
.servicesList {
  list-style: none;
  padding: 0;
}
input {
  color: black;
}
.serviceCard {
  background-color: rgba(206, 88, 9, 0.562);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  max-width: 400px;
}

.serviceLabel {
  display: flex;
  width: 100%;
}

.serviceInfo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1em;
  padding-left: 1em;
}

.serviceName {
  font-size: 18px;
  margin: 0;
}

.servicePrice {
  font-size: 16px;
  margin: 0;
}

.serviceImage {
  flex-shrink: 0;
  width: 100px;
  height: 70px;
  margin-left: 10px;
  position: relative;
}

/* Estilos para hacer la imagen blanco y negro */
.serviceImage img {
  filter: grayscale(70%);
  border: 3px solid #ddd;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3em;
}
.serviceLabel input:checked + .serviceInfo {
  text-decoration: line-through;
}

/*login*/
.loginContainer {
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.loginCancel {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  margin: 0.5rem;
  color: #00000040;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a756ea;
  font-weight: 700;
}

.loginBtn {
  background-image: linear-gradient(
    to right,
    #a756ea 0%,
    #ab30ff 51%,
    #7325d2 100%
  );
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.failure {
  font-size: 12px;
  color: red;
  text-align: center;
}
/*Register*/
.registerContainer {
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.registerCancel {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  margin: 0.5rem;
  color: #00000040;
}

.logoRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #639ffd;
  font-weight: 700;
}

.registerBtn {
  background-image: linear-gradient(
    to right,
    #639ffd 0%,
    #146fff 51%,
    #0060f7 100%
  );
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.success {
  font-size: 12px;
  color: green;
  text-align: center;
}

.failure {
  font-size: 12px;
  color: red;
  text-align: center;
}
